<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Simple CMS | <%= "| #{@page_title}" if @page_title %></title>
		<meta name="author" content="Kevin Skoglund">
		<%= stylesheet_link_tag("public") %>
	</head>
	<body>
		<div id="header">
			<h1>Simple CMS Admin</h1>
		</div>
		<div id="main">
			<div id="navigation">
				<%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
			<div class="clear">
				
			</div>
		</div>
		<div id="footer">
			<p id="copyright">&copy; lynda.com / Kevin Skoglund</p>
		</div>
	</body>
</html>
